$sans-serif: 'Helvetica';
$header-bg: #0a0a0a;

.header-global {
    height: 90px;
    border-bottom: none;

    .wrapper-header {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.home > header {
    background-color: #5e0000;
}

.wrapper-footer footer#footer-openedx .colophon {

    .wrapper-logo {
        float: left;
        margin-right: 20px;
    }

    .nav-colophon {
        float:left;
        margin: 30px 0 2px 0;
    }
}