#global-navigation .header-global {
    background: #0a0a0a;
    height: 100px;
    border-bottom: none;
}

#global-navigation .header-global .wrapper-header {
	padding: 30px 10px 0;
}

.home > header {
	background-color: #5e0000;
}